* { 
  box-sizing: border-box; 
}


html, body { 
  height: 100%; 
  margin: 0;
}

body {
  font-family: 'Figtree', sans-serif;
  }

@font-face {
  font-family: 'Figtree';
  src: url('./fonts/Figtree-Regular.woff2') format('woff2'),
       url('./fonts/Figtree-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.background {
  display: flex;
  width: 1440px;
  height: 960px;
  justify-content: center;
  align-items: center;
  background-color: #f4d04e;
}

.blog-card {
  background-color: white;
  border-radius: 20px;
  max-width: 384px;
  width: 100%;
  height: 522px;
  overflow: hidden;
  text-align: left;
  padding: 24px;
  border-style: solid;
  box-shadow: #000 18px 18px;
}

.blog-tag {
  display: inline-block;
  background-color: #f4d04e;
  border-radius: 8px;
  padding: 4px 12px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.blog-tag-text {
  color: #111;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  overflow: hidden;
  text-align: left;
  font-family:'Figtree' sans-serif;
  line-height: 21px;

}

.label {
  display: flex;
  float: none;
  width: auto;
  height: 21px;
  width: auto

}

label .publish-date {
  background-color: #ffffff;
  padding: 4px 12px;
  font-family:'Figtree' sans-serif;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  line-height: 21px;
  display: flex;
  float: none;
  width: auto;
  height: 21px;
  width: auto
  
}

.main-heading { 
  font-family:'Figtree' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  text-align: left;
  margin-top: 16px;
}

.main-body { 
  font-family:'Figtree' sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  margin-top: 38px;
  color: #6B6B6B;
  transform: translate(-360px, 120px)

}

