* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  margin: 0;
  font-family:'Figtree', 
}

.background {
  display: flex;
  width: 1440px;
  height: 960px;
  justify-content: center;
  align-items: center;
  background-color: #f4d04e;
}

.blog-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 384px;
  width: 100%;
  height: 522px;
  overflow: hidden;
  text-align: center;
  padding: 24px;
}

.blog-tag {
  background-color: #f4d04e;
  border-radius: 8px;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 16px;
  justify-content: left;

}

.blog-tag-text {
  color: black;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-align: center;

}

/* comment out this section for no image */